
<div layout:decorator="layout/layout">
    <th:block layout:fragment="layout-content">
        <h1>< 検索 ></h1>
        <select name="カテゴリ">
            <p>カテゴリ</p>
            <option>国語</option>
            <option>数学</option>
            <option>社会</option>
            <option>理科</option>
            <option>英語</option>
            <option>雑学</option>
        </select>
        <select name="レベル">
            <p>レベル</p>
            <option>やさしい</option>
            <option>ふつう</option>
            <option>むずかしい</option>
        </select>
        <select name="回答形式">
            <p>回答形式</p>
            <option>単一入力</option>
            <option>複数入力</option>
            <option>単一選択</option>
            <option>複数選択</option>
            
        </select>
        <h1>問題一覧</h1>
        <div>
        	<button class="" id="create_btn">新規作成</button>
        </div>
        <table class="table" border="1">
            <tr>
            <td>ID</td>
            <td>ログインID</td>
            <td>作成者ID</td>
            <td>作成者日時</td>
            <td>更新者ID</td>
            <td>更新日時</td>
            <td>削除</td>
            </tr>
        </table>
        
         <h1 th:text="${title}"></h1>
        <table>
            <tr th:each="admin : ${adminlist}" th:object="${admin}">
                <td th:text="*{id}"></td>
                <td th:text="*{login_id}"></td>
                <td th:text="*{creater_id}"></td>
                <td th:text="*{create_date}"></td>
                <td th:text="*{updater_id}"></td>
                <td th:text="*{update_date}"></td>
            </tr>
        </table>
    </th:block>
</div>