
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>edit page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
	<style>
	h1 { font-size:18pt; font-weight:bold; color:gray; }
	body { font-size:13pt; color:gray; margin:5px 25px; }
	tr { margin:5px; }
	th { padding:5px; color:white; background:darkgray }
	td { padding:5px; color:black; background:#e0e0ff; }
	</style>
</head>
<body>
	<h1 th:text="#{content.title}">Edit page</h1>
	<table>
	<form method="post"action="/edit" th:object="${formModel}">
	<input type="hidden" name = "id" th:value = "*{id}" />
	
	<tr><td><label for="login_id">ログインID</label></td><td><input type="text" name="login_id" th:value="*{login_id}" /></td></tr>
    <tr><td><label for="creater_id">作成者ID</label></td><td><input type="text" name="creater_id" th:value="*{crater_id}" /></td></tr>
    <tr><td><label for="create_date">作成者日時</label></td><td><input type="text" name="create_date" th:value="*{crate_date}" /></td></tr>
    <tr><td><label for="updater_id">更新者ID</label></td><td><input type="text" name="updater_id" th:value="*{updater_id}" /></td></tr>
    <tr><td><label for="update_date">更新日時</label></td><td><input type="text" name="update_date" th:value="*{update_date}" /></td></tr>
				
	<tr><td></td><td><input type = "submit" /></td></tr>
	</form>
	</table>
</body>
</html>
-->