<div class="side d-flex flex-column flex-shrink-0 p-3 bg-light" th:fragment="navi" id="tabcontrol">
	<ul class="nav nav-pills flex-column mb-auto">
	    <li class="nav-item">
	      <a href="questions" class="nav-link active" aria-current="page">
	        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
	        問題一覧
	      </a>
	    </li>
	    <li>
	      <a href="categories" class="nav-link link-dark">
	        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
	        カテゴリ一覧
	      </a>
	    </li>
	    <li>
	      <a href="levels" class="nav-link link-dark">
	        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
	        レベル一覧
	      </a>
	    </li>
	    <li>
	      <a href="administrator" class="nav-link link-dark">
	        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
	        管理者情報
	      </a>
	    </li>
	    <li>
	      <a href="user" class="nav-link link-dark">
	        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
	        ユーザー管理
	      </a>
	    </li>
	</ul>
</div>