<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Pさま!!</title>
        <link rel="stylesheet" href="./front/css2/bootstrap.min.css">
        <link rel="stylesheet" href="./front/origin2/origin1.css">
    </head>
    <body>
        <div class="title1" style="text-align:center">↓レベルを選んでね</div>

        <div class="title2" style="text-align:center"><button type="button" onclick="location.href='level1.html'">やさしい</button></div>

        <div class="title3" style="text-align:center"><button type="button" onclick="location.href='https://www.sejuku.net/blog/82466'">ふつう</button></div>

        <div class="title3" style="text-align:center"><button type="button" onclick="location.href='https://www.sejuku.net/blog/82466'">むずい</button></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="./front/js2/bootstrap.min.js"></script>
    </body>
</html>