<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Pさま!!</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="origin/question.css">
    </head>
    <body>
        <h1 class="questionN"> n 問目</nav></h1>

        <div class="box_1">
          <div class="title2" style="text-align:center"><button type="button" onclick="location.href='chooseLevel.html'">BACK</button></div>
        </div>
          
          
        <div class="box_2">
          <div style="border: black double 6px; border-radius:15px; font-size: 100%; padding: 15px;"></div>
        </div>
          
          
        <div class="box_3">
          <div class="title2" style="text-align:center"><button type="button" onclick="location.href='last_page.html'">NEXT</button></div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>