<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>毎日脳トレ</title>
        <link rel="stylesheet" href="./css2/bootstrap.min.css">
        <link rel="stylesheet" href="./origin2/origin1.css">
    </head>
    <body>
        <h1 style="text-align:center">毎日脳トレ</h1>
        <div class="title2" style="text-align:center"><button type="button" class="btn btn-primary" onclick="location.href='chooseLevel.html'">START</button></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="./js2/bootstrap.min.js"></script>
    </body>
</html>